.video_parent{
  height: 60vh;
  width: 45%;
  border: 0.5vw solid rgb(0, 47, 255);
  margin-left: 20%;
  position: relative;
}
.my_video{
  height: 20%;
  width: 20%;
  bottom: 1%;
  right: 0%;
  position: absolute;
}
.user_video{
  height: 100%;
  width: 100%;
}